data/plane.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="plane" type="partType"/>
    <xs:complexType name="partType">
        <xs:sequence>
            <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:element type="partType" name="part"/>
            <xs:element type="xs:positiveInteger" name="quantity"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>